mixin filter
    div#modalFilter.modal.fade(tabindex="-1",role="dialog",aria-labelledby="modalFilterLabel",aria-hidden="true")
        div.modal-dialog
            div.modal-content
                div.modal-header
                    button.close(type="button",data-dismiss="modal",aria-hidden="true")
                    h4.modal-title Filter report
                div.modal-body
                    form(role="form").form-horizontal
                        div.form-group
                            label.col-sm-3.control-label(for="url") URL
                            div.col-sm-9
                                input#url.form-control(name="url",placeholder="Enter a single (full or partial) URL to filter by",ng-model="filterParams.url")
                        div.form-group
                            label.col-sm-3.control-label(for="build") Build
                            div.col-sm-9
                                input#build.form-control(name="build",placeholder="Enter a single or comma-separated list of build IDs",ng-model="filterParams.build")
                        div.form-group
                            label.col-sm-3.control-label(for="start") Date
                            div.col-sm-4
                                input#start.form-control(type='text',placeholder="Start date",ng-model="filterParams.start")
                            label.col-sm-1.control-label(for="end") to
                            div.col-sm-4
                                input#end.form-control(type='text',placeholder="End date",ng-model="filterParams.end")
                        div.form-group
                            label.col-sm-3.control-label(for="tag") Tag
                            div.col-sm-9
                                input#tag.form-control(name="tag",placeholder="Enter a tag",ng-model="filterParams.tag")
                        div.form-group
                            div.col-sm-offset-3.col-sm-9
                                button.btn.btn-primary(type="submit",data-dismiss="modal",ng-click="filter()") Go!

mixin charts
    div#chartArea(ng-hide="reportView !== 'chart'")
        div.panel.panel-default(ng-repeat="ch in charts")
            div.panel-heading {{ch.name}}
                |&nbsp;
                select(ng-model="ch.xAxis",ng-options="c.name for c in chartOptions")
            div.panel-body
                div(id="{{ch.tool}}Chart").pivotChart

mixin reportView
    div.btn-group(data-toggle="buttons")
        label(class="btn btn-primary{{(reportView === 'table' ? ' active' : '')}}",ng-click="setReportView('table')")
            input(type="radio")
            |Report view
        label(class="btn btn-primary{{(reportView === 'chart' ? ' active' : '')}}",ng-click="setReportView('chart')")
            input(type="radio")
            |Chart view

mixin reportHeaders
    thead
        tr
            th
            th URL
            th Date
            th Build
            th Tag
            th(ng-repeat='f in fields').text-center {{f.name}}

mixin reportFooters
    tfoot
        mixin reportTotals

mixin reportTotals
    tr.warning.header
        td
        td(data-sort="a")
            a(href='#/report?start={{query.start}}&end={{query.end}}&build={{query.build}}&tag={{query.tag}}',ng-if='query.url',title='{{query.url}}') {{query.url.substr(0,20)}}
                span(ng-if='query.url.length > 20') ...
        td
            a(href='#/report?url={{query.url}}&build={{query.build}}&tag={{query.tag}}',ng-if='query.start && query.end && query.start.substr(0,10) !== query.end.substr(0,10)') {{query.start | date:'d MMM yyyy'}} - {{query.end | date:'d MMM yyyy'}}
            a(href='#/report?url={{query.url}}&build={{query.build}}&tag={{query.tag}}',ng-if='query.start && query.end && query.start.substr(0,10) === query.end.substr(0,10)') {{query.start | date:'d MMM yyyy'}}
            a(href='#/report?url={{query.url}}&build={{query.build}}&tag={{query.tag}}',ng-if='query.start && !query.end') {{query.start | date:'d MMM yyyy'}}
            a(href='#/report?url={{query.url}}&build={{query.build}}&tag={{query.tag}}',ng-if='!query.start && query.end') {{query.end | date:'d MMM yyyy'}}
        td
            a(href='#/report?url={{r.url}}&start={{query.start}}&end={{query.end}}&tag={{query.tag}}',ng-if='query.build',title='{{query.build}}') {{query.build.substr(0,10)}}
                span(ng-if='query.build.length > 10') ...
        td
            a(href='#/report?url={{r.url}}&start={{query.start}}&end={{query.end}}&build={{query.build}}',ng-if='query.tag',title='{{query.tag}}') {{query.tag.substr(0,10)}}
                span(ng-if='query.tag.length > 10') ...
        td(ng-repeat='f in fields').text-center
            span(class="label label-{{totals[f.tool][f.metric].class}}") {{totals[f.tool][f.metric].message}} ({{totals[f.tool][f.metric].score}}%)

mixin reportLoader
    tr(ng-show="busy")
        td(colspan="7")
            img(src="/images/ajax-loader.gif")

mixin reportFields
    td
        a(href='#/detail/:{{r._id}}')
            button.btn.btn-default(type='button')
                span.glyphicon.glyphicon-list-alt
        td
            a(href='#/report?url={{r.url}}&start={{query.start}}&end={{query.end}}&build={{query.build}}&tag={{query.tag}}') {{r.url}}
        td
            a(href='#/report?url={{query.url}}&start={{r.timestamp | date:"yyyy-MM-dd"}}&end={{r.timestamp | date:"yyyy-MM-dd"}}&build={{query.build}}&tag={{query.tag}}') {{r.timestamp | date:'d MMM yyyy'}}
        td
            a(href='#/report?url={{query.url}}&start={{query.start}}&end={{query.end}}&build={{r.build}}&tag={{query.tag}}',title='{{r.build}}') {{r.build.substr(0,10)}}
                span(ng-if='r.build.length > 10') ...
        td
            a(href='#/report?url={{query.url}}&start={{query.start}}&end={{query.end}}&build={{query.build}}&tag={{r.tag}}',title='{{r.tag}}') {{r.tag.substr(0,10)}}
                span(ng-if='r.tag.length > 10') ...

mixin tabs(report)
    ul.nav.nav-tabs
        li(class="#{report === 'overview' ? 'active' : ''}")
            a(href='#/report?url={{query.url}}&start={{query.start}}&end={{query.end}}&build={{query.build}}&tag={{query.tag}}') Overview
        li(class="#{report === 'time' ? 'active' : ''}")
            a(href='#/report/time?url={{query.url}}&start={{query.start}}&end={{query.end}}&build={{query.build}}&tag={{query.tag}}') Load time
        li(class="#{report === 'yslow' ? 'active' : ''}")
            a(href='#/report/yslow?url={{query.url}}&start={{query.start}}&end={{query.end}}&build={{query.build}}&tag={{query.tag}}') YSlow
        li(class="#{report === 'dommonster' ? 'active' : ''}")
            a(href='#/report/dommonster?url={{query.url}}&start={{query.start}}&end={{query.end}}&build={{query.build}}&tag={{query.tag}}') DomMonster
        li(class="#{report === 'validator' ? 'active' : ''}")
            a(href='#/report/validator?url={{query.url}}&start={{query.start}}&end={{query.end}}&build={{query.build}}&tag={{query.tag}}') Validator

        mixin reportView