mixin filter
    div#modalFilter.ui.modal.fade(tabindex="-1",role="dialog",aria-labelledby="modalFilterLabel",aria-hidden="true")
        div.modal-dialog
            div.modal-content
                div.modal-header
                    button.close(type="button",data-dismiss="modal",aria-hidden="true")
                    h4.modal-title
                        i.icon.filter
                        |&nbsp;Filter report
                div.modal-body
                    form(role="form",name="filterForm").form-horizontal
                        div.form-group(ng-class="(filterForm.url.$dirty ? (filterForm.url.$invalid ? 'has-error' : 'has-success') : '')")
                            label.col-sm-3.control-label(for="url") URL
                            div.col-sm-9.input-group
                                input#url.form-control(name="url",type="text",placeholder="Enter a single (full or partial) URL to filter by",ng-model="filterParams.url")
                                span.input-group-addon
                                    input(type="checkbox",ng-model="filterParams.urlExact",ng-checked="query.urlExact",title="Exact match",ng-false-value="",ng-true-value="true")

                        //div.form-group
                            label.col-sm-3.control-label(for="urlRegex") URL Regex
                            div.col-sm-9
                                input#build.form-control(name="regex",placeholder="Enter a partial URL to filter by",ng-model="filterParams.urlRegex")
                        div.form-group
                            label.col-sm-3.control-label(for="build") Test ID
                            div.col-sm-9
                                input#build.form-control(name="build",placeholder="Enter a single or comma-separated list of Test IDs",ng-model="filterParams.build")
                        div.form-group
                            label.col-sm-3.control-label(for="start") Date
                            div.col-sm-4
                                input#start.form-control(type='text',placeholder="Start date",ng-model="filterParams.start")
                            label.col-sm-1.control-label(for="end") to
                            div.col-sm-4
                                input#end.form-control(type='text',placeholder="End date",ng-model="filterParams.end")
                        div.form-group
                            label.col-sm-3.control-label(for="tag") Tag
                            div.col-sm-9
                                input#tag.form-control(name="tag",placeholder="Enter a tag",ng-model="filterParams.tag")
                        div.form-group
                            div.col-sm-offset-3.col-sm-9
                                button.btn.btn-primary(type="submit",data-dismiss="modal",ng-click="filter()",ng-disabled="filterForm.$invalid") Go!

mixin charts
    div#chartArea(ng-hide="reportView !== 'chart'")
        div.ui.segment.attached.top.inverted.default.header(ng-repeat-start="ch in charts") {{ch.name}}
        div.ui.segment.attached.bottom.inverted.default.pivotChart(id="{{ch.tool}}{{ch.metric}}Chart",ng-repeat-end)

mixin reportView
    div.right.menu
        a(ng-class="(reportView === 'table' ? 'item active' : 'item')",ng-click="setReportView('table')") Report view
        a(ng-class="(reportView === 'chart' ? 'item active' : 'item')",ng-click="setReportView('chart')") Chart view


mixin reportHeaders
    thead
        tr
            th(ng-data-sort='url',ng-data-label='URL') URL
            th(data-expand="true",title="Click to lock on/off")
            th(ng-data-sort='timestamp',ng-data-label='Date',data-expandable='true') Date
            th(ng-data-sort='build',ng-data-label='Test ID',data-expandable='true') Test ID
            th(ng-data-sort="tag",ng-data-label='Tag',data-expandable='true') Tag
            th
            th(class="text-center", ng-data-sort="metrics.{{f.tool}}.grades.{{f.metric}}",ng-repeat='f in fields',title="{{f.name}}",ng-data-label='{{f.label || f.name}}') {{f.label || f.name}}

mixin reportFooters
    tfoot
        mixin reportTotals

mixin reportTotals
    tr.totals(data-sort='false')
        td
            form.ui.form.inverted(role="form")
                div.inline.fields
                    div.field
                        span(ng-if="query.url")
                            a(href='#{{path}}start={{query.start}}&end={{query.end}}&build={{query.build}}&tag={{query.tag}}',title='Remove filter ({{r.url}})')
                                i.icon.remove
                        input(type="text",ng-model="filterParams.url",ng-keyup="textFilter()")
                    div.field
                        div.ui.toggle.checkbox
                            input#urlExact(type="checkbox",ng-model="filterParams.urlExact",ng-checked="query.urlExact",ng-false-value="",ng-true-value="true",ng-change="filter()")
                            label(for="urlExact") Exact
        td(data-expand="true")
        td(data-expandable='true')
            a(href='#{{path}}?url={{query.url}}&build={{query.build}}&tag={{query.tag}}',ng-if='query.start && query.end && query.start.substr(0,10) !== query.end.substr(0,10)')
                i.icon.remove
                |&nbsp;{{query.start | date:'d MMM yyyy'}} - {{query.end | date:'d MMM yyyy'}}
            a(href='#{{path}}?url={{query.url}}&build={{query.build}}&tag={{query.tag}}',ng-if='query.start && query.end && query.start.substr(0,10) === query.end.substr(0,10)')
                i.icon.remove
                |&nbsp;{{query.start | date:'d MMM yyyy'}}
            a(href='#{{path}}?url={{query.url}}&build={{query.build}}&tag={{query.tag}}',ng-if='query.start && !query.end')
                i.icon.remove
                |&nbsp;{{query.start | date:'d MMM yyyy'}}
            a(href='#{{path}}?url={{query.url}}&build={{query.build}}&tag={{query.tag}}',ng-if='!query.start && query.end')
                i.icon.remove
                |&nbsp;{{query.end | date:'d MMM yyyy'}}
        td(data-expandable='true')
            a(href='#{{path}}?url={{r.url}}&start={{query.start}}&end={{query.end}}&tag={{query.tag}}',ng-if='query.build',title='{{query.build}}')
                i.icon.remove
                |&nbsp;{{query.build.substr(0,4)}}...
        td(data-expandable='true')
            a(href='#{{path}}?url={{r.url}}&start={{query.start}}&end={{query.end}}&build={{query.build}}',ng-if='query.tag',title='{{query.tag}}')
                i.icon.remove
                |&nbsp;{{query.tag.substr(0,10)}}
                span(ng-if='query.tag.length > 10') ...
        td(data-expand="true")
        td(ng-repeat='f in fields').text-center
            span(class="ui label {{totals[f.tool][f.metric].className}}",title="{{totals[f.tool][f.metric].tooltip}}") {{totals[f.tool][f.metric].status}} ({{totals[f.tool][f.metric].message}})

mixin reportLoader
    tr(ng-show="busy")
        td(colspan="8")
            i.icon.loading
            |&nbsp;Updating results...

mixin reportFields(isGroup)
    td(ng-init='isGroup = #{isGroup}')
        button.ui.button.mini.icon.basic(ng-if='isGroup', ng-click='expandResultsGroup(r)')
            i.icon.arrow.down(ng-if='expandedUrls.indexOf(r.url) === -1')
            i.icon.arrow.up(ng-if='expandedUrls.indexOf(r.url) !== -1')
        a(ng-if='isGroup',href="#/detail/:{{r._id}}",title="View full details for {{r.url}}") &nbsp;{{r.url.substr(0,120)}}
            span(ng-if='r.url.length > 120') ...
        button.ui.button.mini.icon.basic(ng-if='!isGroup',ng-click='starRecord(r._id)')
            i.icon.star
        a(ng-if='!isGroup',href="#/detail/:{{r._id}}",title="View full details for {{r.url}}") {{r.timestamp | date:" EEE d MMM yyyy 'at' H:mm:ss"}}
            span(ng-if='r.url.length > 120') ...
    td(data-expand="true",title="Click to lock on/off")
    td(data-expandable='true')
        a(href='#{{path}}?url={{query.url}}&urlExact={{query.urlExact}}&start={{r.timestamp | date:"yyyy-MM-dd"}}&end={{r.timestamp | date:"yyyy-MM-dd"}}&build={{query.build}}&tag={{query.tag}}',title="Filter by date")
            i.ui.icon.filter
        |&nbsp;{{r.timestamp | date:'d MMM yyyy'}}
    td(title='{{r.build}}',data-expandable='true')
        a(href='#{{path}}?url={{query.url}}&urlExact={{query.urlExact}}&start={{query.start}}&end={{query.end}}&build={{r.build}}&tag={{query.tag}}')
            i.ui.icon.filter
        |&nbsp;{{r.build.substr(0,4)}}...
    td(title='{{r.tag}}',data-expandable='true')
        a(href='#{{path}}?url={{query.url}}&urlExact={{query.urlExact}}&start={{query.start}}&end={{query.end}}&build={{query.build}}&tag={{r.tag}}',ng-show="{{r.tag.length}}")
            i.ui.icon.filter
        |&nbsp;{{r.tag.substr(0,10)}}
        span(ng-if='r.tag.length > 10') ...
    td(data-expand="true",title="Click to lock on/off")

mixin tabs(report)
    div.ui.small.steps
        div.step
            a(href="#") Eyeball
        div.active.step Analyze

    div.ui.pointing.menu.inverted
        mixin reportView
        a(ng-repeat="f in fieldConfig.display.items", ng-class="report === f.tool ? 'item active' : 'item'", href='#/report/{{f.tool}}?url={{query.url}}&start={{query.start}}&end={{query.end}}&build={{query.build}}&tag={{query.tag}}') {{f.name}}


mixin results
    mixin filterInfo
    table#results.ui.table.segment.inverted.default(data-expanded-locked="{{resultsTable.expanded}}")
        mixin reportHeaders
        tbody(ng-hide="reportView === 'chart'")
            mixin reportTotals
            mixin reportLoader
        tbody(ng-repeat = 'resGroup in resultsTable.results', ng-hide="reportView === 'chart'")
            tr.resultGroup(ng-init='r = resGroup.data')
                mixin reportFields(true)
                td(ng-repeat='f in fields',class='text-center grade{{getVal(r.metrics[f.tool].grades,f.metric)}}',data-type='grades',ng-mouseenter='setPopoverContent({grade:getVal(r.metrics[f.tool].grades,f.metric),value:format(getVal(r.metrics[f.tool].data,f.metric),f.format)})',ng-mouseleave='setPopoverContent()')
                    span.ui.label {{getVal(r.metrics[f.tool].grades,f.metric)}}
            tr(ng-if='r.busy')
                td(colspan="8")
                    i.icon.loading
                    |&nbsp; Updating results...
            tr(ng-repeat='r in resGroup.results',ng-if='expandedUrls.indexOf(r.url) !== -1',ng-class='(starredRecords.indexOf(r._id) !== -1 ? "starred" : "")')
                mixin reportFields
                td(ng-repeat='f in fields',class='text-center grade{{getVal(r.metrics[f.tool].grades,f.metric)}}',data-type='grades',ng-mouseenter='setPopoverContent({grade:getVal(r.metrics[f.tool].grades,f.metric),value:format(getVal(r.metrics[f.tool].data,f.metric),f.format)})',ng-mouseleave='setPopoverContent()')
                    span.ui.label {{getVal(r.metrics[f.tool].grades,f.metric)}}
        mixin reportFooters
    mixin charts
    mixin reportPager

mixin popover
    div#popoverContent.ng-hide
        div.ui.segment.attached.inverted
            span(class='ui label grade{{popoverContent.grade}}') {{popoverContent.grade}}
            |&nbsp;{{popoverContent.value}}

mixin reportPager
    div.ui.segment.inverted(ng-if="reportView !== 'chart'")
        div.ui.grid
            div.three.wide.column
                button(class="ui button previous{{(resultsTable.page === 1 ? ' disabled' : '')}}", ng-click="resultsTable.prev()")
                    i.icon.arrow.left
                    |Previous
            div.ten.wide.column.text-center
                span Results per page&nbsp;
                div.ui.buttons
                    button(class="ui button{{(resultsTable.count === 10 ? ' active' : '')}}",ng-click="resultsTable.setCount(10)") 10
                    button(class="ui button{{(resultsTable.count === 25 ? ' active' : '')}}",ng-click="resultsTable.setCount(25)") 25
                    button(class="ui button{{(resultsTable.count === 50 ? ' active' : '')}}",ng-click="resultsTable.setCount(50)") 50
                    button(class="ui button{{(resultsTable.count === 100 ? ' active' : '')}}",ng-click="resultsTable.setCount(100)") 100
            div.three.wide.column.text-right
                button(class="ui button previous{{(resultsTable.page === resultsTable.pages.length ? ' disabled' : '')}}", ng-click="resultsTable.next()")
                    |Next
                    i.icon.arrow.right

mixin filterInfo
    div.ui.segment.inverted.default.highlight(ng-show="query.url || query.start || query.end || query.build || query.tag")
        ul.list-inline
            li Showing only results for
            li(ng-show="query.url")
                a(ng-show="query.url",href="#{{path}}?start={{query.start}}&end={{query.end}}&build={{query.build}}&tag={{query.tag}}")
                    i.icon.remove
                    strong URL
                    |&nbsp;{{query.url}}
            li(ng-show="query.start || query.end")
                a(href="#{{path}}?url={{query.url}}&build={{query.build}}&tag={{query.tag}}")
                    i.icon.remove
                    strong Date
                    |&nbsp;{{query.start}} - {{query.end}}
            li(ng-show="query.build")
                a(href="#{{path}}?url={{query.url}}&start={{query.start}}&end={{query.end}}&tag={{query.tag}}")
                    i.icon.remove
                    strong Test ID
                    |&nbsp;{{query.build}}
            li(ng-show="query.tag")
                a(href="#{{path}}?url={{query.url}}&start={{query.start}}&end={{query.end}}&build={{query.build}}")
                    i.icon.remove
                    strong Tag
                    |&nbsp;{{query.tag}}