mixin filter
    div#modalFilter.modal.fade(tabindex="-1",role="dialog",aria-labelledby="modalFilterLabel",aria-hidden="true")
        div.modal-dialog
            div.modal-content
                div.modal-header
                    button.close(type="button",data-dismiss="modal",aria-hidden="true")
                    h4.modal-title
                        span.glyphicon.glyphicon-filter
                        |&nbsp;Filter report
                div.modal-body
                    form(role="form",name="filterForm").form-horizontal
                        div.form-group(ng-class="(filterForm.url.$dirty ? (filterForm.url.$invalid ? 'has-error' : 'has-success') : '')")
                            label.col-sm-3.control-label(for="url") URL
                            div.col-sm-9.input-group
                                input#url.form-control(name="url",type="text",placeholder="Enter a single (full or partial) URL to filter by",ng-model="filterParams.url")
                                span.input-group-addon
                                    input(type="checkbox",ng-model="filterParams.urlExact",ng-checked="query.urlExact",title="Exact match",ng-false-value="",ng-true-value="true")

                        //div.form-group
                            label.col-sm-3.control-label(for="urlRegex") URL Regex
                            div.col-sm-9
                                input#build.form-control(name="regex",placeholder="Enter a partial URL to filter by",ng-model="filterParams.urlRegex")
                        div.form-group
                            label.col-sm-3.control-label(for="build") Test ID
                            div.col-sm-9
                                input#build.form-control(name="build",placeholder="Enter a single or comma-separated list of Test IDs",ng-model="filterParams.build")
                        div.form-group
                            label.col-sm-3.control-label(for="start") Date
                            div.col-sm-4
                                input#start.form-control(type='text',placeholder="Start date",ng-model="filterParams.start")
                            label.col-sm-1.control-label(for="end") to
                            div.col-sm-4
                                input#end.form-control(type='text',placeholder="End date",ng-model="filterParams.end")
                        div.form-group
                            label.col-sm-3.control-label(for="tag") Tag
                            div.col-sm-9
                                input#tag.form-control(name="tag",placeholder="Enter a tag",ng-model="filterParams.tag")
                        div.form-group
                            div.col-sm-offset-3.col-sm-9
                                button.btn.btn-primary(type="submit",data-dismiss="modal",ng-click="filter()",ng-disabled="filterForm.$invalid") Go!

mixin charts
    div#chartArea(ng-hide="reportView !== 'chart'")
        div.panel.panel-default(ng-repeat="ch in charts")
            div.panel-heading {{ch.name}}
                |&nbsp;
                select(ng-model="ch.xAxis",ng-options="c.name for c in chartOptions")
            div.panel-body
                div(id="{{ch.tool}}{{ch.metric}}Chart").pivotChart

mixin reportView
    div.btn-toolbar.pull-right
        div.btn-group(data-toggle="buttons")
            label(class="btn {{(reportView === 'table' ? 'btn-primary active' : 'btn-default')}}",ng-click="setReportView('table')")
                input(type="radio")
                |Report view
            label(class="btn {{(reportView === 'chart' ? 'btn-primary active' : 'btn-default')}}",ng-click="setReportView('chart')")
                input(type="radio")
                |Chart view
        div.btn-group(data-toggle="buttons")
            button.btn.btn-default(type="button" data-toggle="modal" data-target="#modalFilter")
                span.glyphicon.glyphicon-filter
                |&nbsp;Filter

mixin reportHeaders
    thead
        tr
            th(ng-data-sort='url') URL
            th(ng-data-sort='timestamp') Date
            th(ng-data-sort='build') Test ID
            th(ng-data-sort="tag") Tag
            th(class="text-center", ng-data-sort="metrics.{{f.tool}}.grades.{{f.metric}}",ng-repeat='f in fields',title="{{f.name}}") {{f.label || f.name}}

mixin reportFooters
    tfoot
        mixin reportTotals

mixin reportTotals
    tr.warning(data-sort='false')
        td
            form(role="form")
                div.input-group.input-group-sm
                    span.input-group-addon(ng-if="query.url")
                        a(href='#{{path}}start={{query.start}}&end={{query.end}}&build={{query.build}}&tag={{query.tag}}',title='Remove filter ({{r.url}})')
                            span.glyphicon.glyphicon-remove
                    input.form-control(type="text",ng-model="filterParams.url")
                    span.input-group-addon(title="Exact match")
                        input(type="checkbox",ng-model="filterParams.urlExact",ng-checked="query.urlExact",ng-false-value="",ng-true-value="true")
                    span.input-group-btn
                        button.btn.btn-default.btn-sm(ng-click="filter()",type="submit",title="Filter")
                            span.glyphicon.glyphicon-filter


            //a(href='#{{path}}?start={{query.start}}&end={{query.end}}&build={{query.build}}&tag={{query.tag}}',ng-if='query.url',title='Remove filter ({{r.url}})')
                span.glyphicon.glyphicon-remove
                |&nbsp;{{query.url.substr(0,40)}}
                span(ng-if='query.url.length > 40') ...
        td
            a(href='#{{path}}?url={{query.url}}&build={{query.build}}&tag={{query.tag}}',ng-if='query.start && query.end && query.start.substr(0,10) !== query.end.substr(0,10)')
                span.glyphicon.glyphicon-remove
                |&nbsp;{{query.start | date:'d MMM yyyy'}} - {{query.end | date:'d MMM yyyy'}}
            a(href='#{{path}}?url={{query.url}}&build={{query.build}}&tag={{query.tag}}',ng-if='query.start && query.end && query.start.substr(0,10) === query.end.substr(0,10)')
                span.glyphicon.glyphicon-remove
                |&nbsp;{{query.start | date:'d MMM yyyy'}}
            a(href='#{{path}}?url={{query.url}}&build={{query.build}}&tag={{query.tag}}',ng-if='query.start && !query.end')
                span.glyphicon.glyphicon-remove
                |&nbsp;{{query.start | date:'d MMM yyyy'}}
            a(href='#{{path}}?url={{query.url}}&build={{query.build}}&tag={{query.tag}}',ng-if='!query.start && query.end')
                span.glyphicon.glyphicon-remove
                |&nbsp;{{query.end | date:'d MMM yyyy'}}
        td
            a(href='#{{path}}?url={{r.url}}&start={{query.start}}&end={{query.end}}&tag={{query.tag}}',ng-if='query.build',title='{{query.build}}')
                span.glyphicon.glyphicon-remove
                |&nbsp;{{query.build.substr(0,4)}}...
        td
            a(href='#{{path}}?url={{r.url}}&start={{query.start}}&end={{query.end}}&build={{query.build}}',ng-if='query.tag',title='{{query.tag}}')
                span.glyphicon.glyphicon-remove
                |&nbsp;{{query.tag.substr(0,10)}}
                span(ng-if='query.tag.length > 10') ...
        td(ng-repeat='f in fields').text-center
            span(class="label label-{{totals[f.tool][f.metric].className}}") {{totals[f.tool][f.metric].message}} ({{totals[f.tool][f.metric].score}}%)

mixin reportLoader
    tr(ng-show="busy")
        td(colspan="7")
            div.loader
            |&nbsp; Updating results...

mixin reportFields
    td
        //a(href='#/report?url={{encodeQuery(r.url)}}&start={{query.start}}&end={{query.end}}&build={{query.build}}&tag={{query.tag}}',title="Only show results for {{r.url}}") {{r.url}}
        a(href="#/detail/:{{r._id}}",title="View full details for {{r.url}}") {{r.url.substr(0,120)}}
            span(ng-if='r.url.length > 120') ...
    td
        a(href='#{{path}}?url={{query.url}}&urlExact={{query.urlExact}}&start={{r.timestamp | date:"yyyy-MM-dd"}}&end={{r.timestamp | date:"yyyy-MM-dd"}}&build={{query.build}}&tag={{query.tag}}',title="Filter by date")
            span.glyphicon.glyphicon-filter
        |&nbsp;{{r.timestamp | date:'d MMM yyyy'}}
    td(title='{{r.build}}')
        a(href='#{{path}}?url={{query.url}}&urlExact={{query.urlExact}}&start={{query.start}}&end={{query.end}}&build={{r.build}}&tag={{query.tag}}')
            span.glyphicon.glyphicon-filter
        |&nbsp;{{r.build.substr(0,4)}}...
    td(title='{{r.tag}}')
        a(href='#{{path}}?url={{query.url}}&urlExact={{query.urlExact}}&start={{query.start}}&end={{query.end}}&build={{query.build}}&tag={{r.tag}}',ng-show="{{r.tag.length}}")
            span.glyphicon.glyphicon-filter
        |&nbsp;{{r.tag.substr(0,10)}}
        span(ng-if='r.tag.length > 10') ...

mixin tabs(report)
    ol.breadcrumb
        li
            a(href="#") Eyeball
        li.active Analyze
    ul.nav.nav-tabs
        li(class="#{report === 'overview' ? 'active' : ''}")
            a(href='#/report?url={{query.url}}&start={{query.start}}&end={{query.end}}&build={{query.build}}&tag={{query.tag}}') Overview
        li(class="#{report === 'time' ? 'active' : ''}")
            a(href='#/report/time?url={{query.url}}&start={{query.start}}&end={{query.end}}&build={{query.build}}&tag={{query.tag}}') Load time
        li(class="#{report === 'yslow' ? 'active' : ''}")
            a(href='#/report/yslow?url={{query.url}}&start={{query.start}}&end={{query.end}}&build={{query.build}}&tag={{query.tag}}') YSlow
        li(class="#{report === 'dommonster' ? 'active' : ''}")
            a(href='#/report/dommonster?url={{query.url}}&start={{query.start}}&end={{query.end}}&build={{query.build}}&tag={{query.tag}}') DomMonster
        li(class="#{report === 'validator' ? 'active' : ''}")
            a(href='#/report/validator?url={{query.url}}&start={{query.start}}&end={{query.end}}&build={{query.build}}&tag={{query.tag}}') Validator

        mixin reportView

mixin results
    div(ng-hide="reportView === 'chart'")
        mixin filterInfo

        table#results.table.table-striped.table-condensed
            mixin reportHeaders
            tbody
                mixin reportTotals
                mixin reportLoader
                tr(ng-repeat='r in resultsTable.results')
                    mixin reportFields
                    td(ng-repeat='f in fields',class='text-center grade{{getVal(r.metrics[f.tool].grades,f.metric)}}',data-type='grades',ng-mouseenter='setPopoverContent({grade:getVal(r.metrics[f.tool].grades,f.metric),value:format(getVal(r.metrics[f.tool].data,f.metric),f.format)})',ng-mouseleave='setPopoverContent()')
                        span.badge {{getVal(r.metrics[f.tool].grades,f.metric)}}
            mixin reportFooters
        mixin reportPager

mixin popover
    div#popoverContent.ng-hide
        ul.list-group
            li(class='list-group-item') {{popoverContent.value}}&nbsp;
                span(class='badge grade{{popoverContent.grade}}') {{popoverContent.grade}}

mixin reportPager
    ul.pager
        li(class="previous{{(resultsTable.page === 1 ? ' disabled' : '')}}")
            a(ng-click="resultsTable.prev()")
                span.glyphicon.glyphicon-chevron-left
                |&nbsp;Previous
        li Results per page&nbsp;
            div.btn-group
                button(class="btn btn-default{{(resultsTable.count === 10 ? ' active' : '')}}",ng-click="resultsTable.setCount(10)") 10
                button(class="btn btn-default{{(resultsTable.count === 25 ? ' active' : '')}}",ng-click="resultsTable.setCount(25)") 25
                button(class="btn btn-default{{(resultsTable.count === 50 ? ' active' : '')}}",ng-click="resultsTable.setCount(50)") 50
                button(class="btn btn-default{{(resultsTable.count === 100 ? ' active' : '')}}",ng-click="resultsTable.setCount(100)") 100
        li(class="next{{(resultsTable.page === resultsTable.pages.length ? ' disabled' : '')}}")
            a(ng-click="resultsTable.next()") Next&nbsp;
                span.glyphicon.glyphicon-chevron-right

mixin filterInfo
    div.alert.alert-info(ng-show="query.url || query.start || query.end || query.build || query.tag")
        ul.list-inline
            li Showing only results for
            li(ng-show="query.url")
                a(href="#{{path}}?start={{query.start}}&end={{query.end}}&build={{query.build}}&tag={{query.tag}}")
                    span.label.label-primary
                        span.glyphicon.glyphicon-remove
                        |&nbsp;URL: {{query.url}}
            li(ng-show="query.start || query.end")
                a(href="#{{path}}?url={{query.url}}&build={{query.build}}&tag={{query.tag}}")
                    span.label.label-primary
                        span.glyphicon.glyphicon-remove
                        |&nbsp;Date: {{query.start}} - {{query.end}}
            li(ng-show="query.build")
                a(href="#{{path}}?url={{query.url}}&start={{query.start}}&end={{query.end}}&tag={{query.tag}}")
                    span.label.label-primary
                        span.glyphicon.glyphicon-remove
                        |&nbsp;Test ID: {{query.build}}
            li(ng-show="query.tag")
                a(href="#{{path}}?url={{query.url}}&start={{query.start}}&end={{query.end}}&build={{query.build}}")
                    span.label.label-primary
                        span.glyphicon.glyphicon-remove
                        |&nbsp;Tag: {{query.tag}}